
body{
    background: linear-gradient(45deg, #7c73ff, #31f1ff);
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}
.form{
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5px;
    background-color: rgba(234, 242, 248,0.9) ;
    padding: 20px;

}
    

.boton{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    
    
    background-color: #21618C;
}
    

.header{
    margin: 20px;
    margin-bottom: 0px;
}

img{
    border-radius: 5px;
}