div{
    justify-content:space-evenly;
}


.imagenProfesor{
    width: max-content;
    justify-content:space-around;
    padding-left: 35%;
    padding-top: 10%;
}
.imagenAlumno{
    width: max-content;
    justify-content:space-around;
    padding-left: 40%;
    padding-top: 10%;
}
h2{
    padding-left: 10%;
}