body{
    margin-left: 10% !important;
    margin-right: 10% !important;
    background: linear-gradient(45deg, #7c73ff, #31f1ff);
}

a{
    text-decoration: none !important;
    color: white !important;
    
}
    a:hover{
        color: rgb(95, 5, 148)!important;
        text-decoration: none;
        font-weight: bold;
    }

    #inicia{
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        margin-top: 14px;
        margin-left: 20px;
        text-decoration: none;
    }

    #inicia:hover{
        color: rgb(95,5,148);
    }

h1{
    color:white;
    font-family: 'Aclonica', sans-serif;
    font-size: 30px !important;
      text-indent: -100px;
}

#contenedor_redes{
    background-color: #7c73ff;
    display: flex;
    margin-bottom: 10px;
}

#contenedor_redes2{
    background-color: #7c73ff;
    display: flex;
    margin-bottom: 10px;
    padding-left: 55%;
}

    .redes{
        /*width: fit-content(2cm);*/
        width: fit-content;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 10px;
    }

    .fa-facebook:hover{
        color: blue !important;
    }

    .fa-instagram:hover{
        color: violet !important;
    }

    .fa-youtube:hover{
        color: red !important;
    }

    .fa-twitter:hover{
        color: skyblue !important;
    }

    .fa-whatsapp:hover{
        color: greenyellow !important;
    }

#contenedor_logo{
    background: linear-gradient(45deg, #7c73ff, #31f1ff);
    display: flex;
}

    #logo{
        padding-left: 15px;
        padding-top: 15px;
        position: absolute;
    }

    #nombre_logo{
        padding-left: 20%;
        padding-top: 10px;
        position: absolute;
    }

.carteles{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    background: linear-gradient(45deg, #7c73ff, #31f1ff);
    text-decoration: none;
}

    .cartel1{
        width: 20%;
        margin-left: 85px;
        margin-top: 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Girassol', cursive;
        text-decoration: none;
    }
    .cartel1:hover{
        font-family: 'Girassol', cursive;
    }

.slider_p{
  margin-top: 30px;
  width: 100%;
  display: flex;
  }
  .profes{
      width: 68%;
      margin-right: 10px;
  }
  .profes2{
      width: 68%;
      margin-right: 10px;
  }
  .profes3{
      width: 68%;
      margin-right: 10px;
  }
  .miSlide_p{
    width: 100%;
    height: 386px

  }

  .miSlide_p2{
    width: 100%;
    height: 386px

  }

  .miSlide_p3{
    width: 100%;
    height: 386px

  }
  #texto_prod{
    background-color: white;
    color: black;
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align:right;
    font-size: 25px;
}

  .slider{
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

    .fotitos{
        /*width: 70%;
        margin-left: 10px;*/
        width: 100%;
        position: relative;
    }
        .miSlide{
            width: 100%;
            height: 386px;
        }

        .tex{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center !important;
            bottom: 0;
            color: white;
            font-size: larger;
            display: flex;
            width: 100%;
            padding: 22px;
        }

    
    #textito{
        font-size: 25px;
        color: red !important;
        font-style: normal;
        text-decoration: none;
    }

    #textito:hover{
        color: gold;
    }

    .footer {
        background: #7c73ff;
        color: white;
        padding: 0.1rem 0;
        text-align: center;
        margin-top: 20px;
    }

    .miSlider_p{
        position: relative;
    }

    .miSlider_p2{
        position: relative;
    }

    .miSlider_p3{
        position: relative;
    }
    
    .textite{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.479);
        width: 100%;
        text-align: center;
        color: silver;
        font-size: larger;
    }

    

    .buscador{
    margin-top: 20px;
    width: 100%;
    display: flex;
    background-image: url("../img/banner.png");
    /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    }
    /* <img src="imagenes/banner.png"> */
.no-logueado{
    margin-top: 14px;
}
.logueado{
    color: #31f1ff;   
    margin-left:180px ;
    margin-top: 10px;
}
#opciones{
    background-color: royalblue;
}