<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/estiloPerfilAlumno.css"/>

</head>

<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="/" class="logo"><img src="/img/logoChiquito.png"> ProgramAula</a>
            <span class="menu-icon"><i class="fas fa-bars"></i></span>
            <nav class="navigation">
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
<!--                     <li><a href="#"><i class="fas fa-bell"></i> Notificaciones</a></li> -->
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>



    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">

                    <img th:if="${session.usuariosession.foto != null}" th:src="${'/foto/usuario?nombreUsuario=' + session.usuariosession.nombreUsuario}">
                
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo" th:text="${session.usuariosession.nombreCompleto}">Nombre Alumno</h3>
                <p class="texto" th:text="${session.usuariosession.descripcion}"></p>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
					<li><i class="icono fas fa-phone-alt"></i> Telefono: <input
						type="text" class="form-control" id="inputTelefono" 
						 th:placeholder="${session.usuariosession.telefono}" readonly=true></li>
					<li><i class="icono fas fa-briefcase"></i> Email: <input
						type="email" class="form-control" id="inputEmail"
						th:placeholder="${session.usuariosession.email}" readonly=true></li>
					<li><i class="icono fas fa-map-marker-alt"></i> Ubicacion: <input
						type="" class="form-control"
						th:placeholder="${session.usuariosession.localidad}" readonly=true></li>
						
				</ul>
            </div>
            
        </div>
    </section>
    <footer class="footer">            
        <div class="container pie">
            <p>© Equipo 6 - 2021 ProgramAula</p>
            <a href="terminos.html"><p>Terminos y condiciones</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	


	<script src="/scripts/scriptsPerfiles.js"></script>

</body>

</html>